{% extends 'todoapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex flex-column align-items-center my-5 py-5">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <div class="d-flex flex-column" id="login-input" >
            <div class="mt-5">
            {{ form.username|as_crispy_field }}
            </div>
            <div>
            {{ form.password|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-success" value="Login">Login</button>
    </form>
<p class="my-3">Don't have an account? <a href="{% url 'todoapp:register' %}">Register</a></p>
</div>
{% endblock %}